<a href="https://colab.research.google.com/github/maparisio/deep-learning-challenge/blob/main/AlphabetSoupCharity.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Preprocessing

In [ ]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [ ]:
# Make a copy of the DF before droping any columns
application_df_copy = application_df.copy()
application_df_copy.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [ ]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df_copy = application_df_copy.drop(columns = ['EIN', 'NAME'])
application_df_copy

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [ ]:
# Determine the number of unique values in each column.
unique_values = application_df_copy.nunique()
unique_values

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [ ]:
# Drop the non-beneficial ID columns,'SPECIAL_CONSIDERATIONS' and 'STATUS'
# 'SPECIAL_CONSIDERATIONS' has only 2 unique_values, while 'STATUS' has
# the same value because it had the same value all the way through
application_df_copy = application_df_copy.drop(columns = [ 'SPECIAL_CONSIDERATIONS', 'STATUS'])
application_df_copy

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,INCOME_AMT,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,0,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1-9999,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,0,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,10000-24999,6692,1
4,T3,Independent,C1000,Heathcare,Trust,100000-499999,142590,1
...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,0,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,0,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,0,5000,0
34297,T5,Independent,C3000,ProductDev,Association,0,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1M-5M,36500179,0

In [ ]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
app_type_counts = application_df_copy["APPLICATION_TYPE"].value_counts()
app_type_counts

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [ ]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
app_cutoff_value = 500
application_types_to_replace = app_type_counts[app_type_counts < app_cutoff_value].index.tolist()

# Replace in dataframe
for app in application_types_to_replace:
    application_df_copy['APPLICATION_TYPE'] = application_df_copy['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df_copy['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [ ]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
class_counts = application_df_copy["CLASSIFICATION"].value_counts()
class_counts

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [ ]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_counts_gt1 = class_counts[class_counts > 1]
class_counts_gt1

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [ ]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
class_cutoff_value = 1000
classifications_to_replace = class_counts[class_counts < class_cutoff_value].index.tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    application_df_copy['CLASSIFICATION'] = application_df_copy['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df_copy['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [ ]:
# Check headers
application_df_copy.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,INCOME_AMT,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,0,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1-9999,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,0,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,10000-24999,6692,1
4,T3,Independent,C1000,Heathcare,Trust,100000-499999,142590,1

In [ ]:
# Look at 'INCOME_AMT' value counts to identify and replace with "Other"
income_amt_count = application_df_copy['INCOME_AMT'].value_counts()
income_amt_count

INCOME_AMT
0                24388
25000-99999       3747
100000-499999     3374
1M-5M              955
1-9999             728
10000-24999        543
10M-50M            240
5M-10M             185
50M+               139
Name: count, dtype: int64

In [ ]:
# Look at 'ASK_AMT' value counts to identify and replace with "Other"
ask_amt_count = application_df_copy['ASK_AMT'].value_counts()
ask_amt_count

ASK_AMT
5000        25398
10478           3
15583           3
63981           3
6725            3
            ...
5371754         1
30060           1
43091152        1
18683           1
36500179        1
Name: count, Length: 8747, dtype: int64

In [ ]:
# You may find it helpful to look at ASK_AMT value counts >3
ask_amt_count_gt3 = ask_amt_count[ask_amt_count>3]
ask_amt_count_gt3

ASK_AMT
5000    25398
Name: count, dtype: int64

In [ ]:
# Choose a cutoff value and create a list of ASK_AMT values to be replaced
# use the variable name `ask_to_replace`
ask_cutoff_value = 4
ask_to_replace = ask_amt_count[ask_amt_count < ask_cutoff_value].index.tolist()

# Replace in dataframe
for ask in ask_to_replace:
    application_df_copy['ASK_AMT'] = application_df_copy['ASK_AMT'].replace(ask,"Other")

# Check to make sure replacement was successful
application_df_copy['ASK_AMT'].value_counts()

ASK_AMT
5000     25398
Other     8901
Name: count, dtype: int64

In [ ]:
# Make a copy of the DF before turning categorical values into numeric
application_df_copy = application_df_copy.copy()

# Show a snippet of the copy DF
application_df_copy.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,INCOME_AMT,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,0,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1-9999,Other,1
2,T5,CompanySponsored,C3000,ProductDev,Association,0,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,10000-24999,Other,1
4,T3,Independent,C1000,Heathcare,Trust,100000-499999,Other,1

In [ ]:
# Convert categorical data to numeric with `pd.get_dummies`
app_dummies_df = pd.get_dummies(application_df_copy, dtype=int)
app_dummies_df

,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,ASK_AMT_5000,ASK_AMT_Other
0,1,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,0,0,0,1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
2,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,0,0,0,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
4,1,0,0,0,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34298,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1

In [ ]:
# Split our preprocessed data into our features and target arrays
X = app_dummies_df.drop(["IS_SUCCESSFUL"], axis='columns').values
y = app_dummies_df["IS_SUCCESSFUL"].values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [ ]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [ ]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  80
hidden_nodes_layer2 = 30

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

/usr/local/lib/python3.10/dist-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential"

 Layer (type)                          Output Shape                         Param #

 dense (Dense)                         (None, 80)                             3,360

 dense_1 (Dense)                       (None, 30)                             2,430

 dense_2 (Dense)                       (None, 1)                                 31

 Total params: 5,821 (22.74 KB)

 Trainable params: 5,821 (22.74 KB)

 Non-trainable params: 0 (0.00 B)

In [ ]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [ ]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804  3s 1ms/step - accuracy: 0.7015 - loss: 0.5909
Epoch 2/100
804/804  1s 1ms/step - accuracy: 0.7260 - loss: 0.5564
Epoch 3/100
804/804  1s 2ms/step - accuracy: 0.7285 - loss: 0.5520
Epoch 4/100
804/804  2s 2ms/step - accuracy: 0.7334 - loss: 0.5470
Epoch 5/100
804/804  2s 1ms/step - accuracy: 0.7287 - loss: 0.5506
Epoch 6/100
804/804  1s 1ms/step - accuracy: 0.7309 - loss: 0.5480
Epoch 7/100
804/804  1s 1ms/step - accuracy: 0.7301 - loss: 0.5494
Epoch 8/100
804/804  1s 1ms/step - accuracy: 0.7376 - loss: 0.5424
Epoch 9/100
804/804  1s 1ms/step - accuracy: 0.7346 - loss: 0.5426
Epoch 10/100
804/804  1s 1ms/step - accuracy: 0.7329 - loss: 0.5429
Epoch 11/100
804/804  2s 2ms/step - accuracy: 0.7300 - loss: 0.5485
Epoch 12/100
804/804  3s 2ms/step - accuracy: 0.7342 - loss: 0.5432
Epoch 13/100
804/804  1s 1ms/step - accuracy: 0.7388 - loss: 0.5393
Epoch 14/100
804/804  1s 1ms/step - accuracy: 0.7367 - loss: 0.5392
Epoch 15/100
804/804  1s 1ms/step - accuracy: 0.7379 - loss: 0.5408
Epoch 16/100
804/804  1s 1ms/step - accuracy: 0.7369 - loss: 0.5436
Epoch 17/100
804/804  1s 1ms/step - accuracy: 0.7300 - loss: 0.5437
Epoch 18/100
804/804  1s 1ms/step - accuracy: 0.7312 - loss: 0.5437
Epoch 19/100
804/804  1s 1ms/step - accuracy: 0.7382 - loss: 0.5392
Epoch 20/100
804/804  1s 2ms/step - accuracy: 0.7430 - loss: 0.5345
Epoch 21/100
804/804  3s 2ms/step - accuracy: 0.7343 - loss: 0.5418
Epoch 22/100
804/804  2s 1ms/step - accuracy: 0.7367 - loss: 0.5404
Epoch 23/100
804/804  1s 1ms/step - accuracy: 0.7367 - loss: 0.5386
Epoch 24/100
804/804  1s 1ms/step - accuracy: 0.7376 - loss: 0.5384
Epoch 25/100
804/804  1s 1ms/step - accuracy: 0.7377 - loss: 0.5376
Epoch 26/100
804/804  1s 1ms/step - accuracy: 0.7382 - loss: 0.5366
Epoch 27/100
804/804  1s 1ms/step - accuracy: 0.7323 - loss: 0.5451
Epoch 28/100
804/804  1s 1ms/step - accuracy: 0.7328 - loss: 0.5450
Epoch 29/100
804/804  2s 2ms/step - accuracy: 0.7445 - loss: 0.5314
Epoch 30/100
804/804  2s 1ms/step - accuracy: 0.7372 - loss: 0.5410
Epoch 31/100
804/804  1s 1ms/step - accuracy: 0.7400 - loss: 0.5377
Epoch 32/100
804/804  1s 1ms/step - accuracy: 0.7396 - loss: 0.5340
Epoch 33/100
804/804  1s 1ms/step - accuracy: 0.7462 - loss: 0.5296
Epoch 34/100
804/804  1s 1ms/step - accuracy: 0.7384 - loss: 0.5358
Epoch 35/100
804/804  1s 1ms/step - accuracy: 0.7399 - loss: 0.5349
Epoch 36/100
804/804  1s 1ms/step - accuracy: 0.7390 - loss: 0.5369
Epoch 37/100
804/804  1s 1ms/step - accuracy: 0.7410 - loss: 0.5326
Epoch 38/100
804/804  2s 2ms/step - accuracy: 0.7383 - loss: 0.5374
Epoch 39/100
804/804  2s 2ms/step - accuracy: 0.7415 - loss: 0.5296
Epoch 40/100
804/804  1s 1ms/step - accuracy: 0.7443 - loss: 0.5332
Epoch 41/100
804/804  1s 1ms/step - accuracy: 0.7411 - loss: 0.5356
Epoch 42/100
804/804  3s 2ms/step - accuracy: 0.7404 - loss: 0.5347
Epoch 43/100
804/804  2s 1ms/step - accuracy: 0.7424 - loss: 0.5337
Epoch 44/100
804/804  1s 1ms/step - accuracy: 0.7424 - loss: 0.5330
Epoch 45/100
804/804  1s 2ms/step - accuracy: 0.7364 - loss: 0.5362
Epoch 46/100
804/804  2s 2ms/step - accuracy: 0.7363 - loss: 0.5402
Epoch 47/100
804/804  1s 1ms/step - accuracy: 0.7424 - loss: 0.5310
Epoch 48/100
804/804  1s 1ms/step - accuracy: 0.7403 - loss: 0.5356
Epoch 49/100
804/804  1s 1ms/step - accuracy: 0.7374 - loss: 0.5371
Epoch 50/100
804/804  1s 1ms/step - accuracy: 0.7420 - loss: 0.5324
Epoch 51/100
804/804  1s 1ms/step - accuracy: 0.7377 - loss: 0.5339
Epoch 52/100
804/804  1s 1ms/step - accuracy: 0.7336 - loss: 0.5414
Epoch 53/100
804/804  1s 1ms/step - accuracy: 0.7387 - loss: 0.5363
Epoch 54/100
804/804  1s 2ms/step - accuracy: 0.7408 - loss: 0.5331
Epoch 55/100
804/804  3s 2ms/step - accuracy: 0.7340 - loss: 0.5423
Epoch 56/100
804/804  1s 1ms/step - accuracy: 0.7414 - loss: 0.5322
Epoch 57/100
804/804  1s 1ms/step - accuracy: 0.7403 - loss: 0.5351
Epoch 58/100
804/804  1s 1ms/step - accuracy: 0.7393 - loss: 0.5367
Epoch 59/100
804/804  1s 1ms/step - accuracy: 0.7400 - loss: 0.5343
Epoch 60/100
804/804  1s 1ms/step - accuracy: 0.7418 - loss: 0.5341
Epoch 61/100
804/804  1s 1ms/step - accuracy: 0.7426 - loss: 0.5335
Epoch 62/100
804/804  1s 1ms/step - accuracy: 0.7453 - loss: 0.5296
Epoch 63/100
804/804  1s 1ms/step - accuracy: 0.7412 - loss: 0.5328
Epoch 64/100
804/804  2s 2ms/step - accuracy: 0.7436 - loss: 0.5314
Epoch 65/100
804/804  2s 1ms/step - accuracy: 0.7409 - loss: 0.5315
Epoch 66/100
804/804  1s 1ms/step - accuracy: 0.7421 - loss: 0.5326
Epoch 67/100
804/804  1s 1ms/step - accuracy: 0.7376 - loss: 0.5370
Epoch 68/100
804/804  1s 1ms/step - accuracy: 0.7354 - loss: 0.5383
Epoch 69/100
804/804  1s 1ms/step - accuracy: 0.7377 - loss: 0.5359
Epoch 70/100
804/804  1s 1ms/step - accuracy: 0.7424 - loss: 0.5289
Epoch 71/100
804/804  1s 1ms/step - accuracy: 0.7431 - loss: 0.5291
Epoch 72/100
804/804  1s 1ms/step - accuracy: 0.7407 - loss: 0.5326
Epoch 73/100
804/804  2s 2ms/step - accuracy: 0.7415 - loss: 0.5295
Epoch 74/100
804/804  2s 2ms/step - accuracy: 0.7433 - loss: 0.5291
Epoch 75/100
804/804  2s 1ms/step - accuracy: 0.7371 - loss: 0.5366
Epoch 76/100
804/804  1s 1ms/step - accuracy: 0.7423 - loss: 0.5305
Epoch 77/100
804/804  1s 1ms/step - accuracy: 0.7404 - loss: 0.5325
Epoch 78/100
804/804  1s 1ms/step - accuracy: 0.7405 - loss: 0.5341
Epoch 79/100
804/804  1s 1ms/step - accuracy: 0.7425 - loss: 0.5262
Epoch 80/100
804/804  1s 1ms/step - accuracy: 0.7414 - loss: 0.5338
Epoch 81/100
804/804  1s 2ms/step - accuracy: 0.7426 - loss: 0.5326
Epoch 82/100
804/804  3s 2ms/step - accuracy: 0.7442 - loss: 0.5280
Epoch 83/100
804/804  2s 1ms/step - accuracy: 0.7408 - loss: 0.5322
Epoch 84/100
804/804  1s 1ms/step - accuracy: 0.7400 - loss: 0.5352
Epoch 85/100
804/804  1s 1ms/step - accuracy: 0.7424 - loss: 0.5308
Epoch 86/100
804/804  1s 1ms/step - accuracy: 0.7446 - loss: 0.5298
Epoch 87/100
804/804  1s 1ms/step - accuracy: 0.7403 - loss: 0.5335
Epoch 88/100
804/804  1s 1ms/step - accuracy: 0.7393 - loss: 0.5330
Epoch 89/100
804/804  1s 2ms/step - accuracy: 0.7456 - loss: 0.5273
Epoch 90/100
804/804  2s 2ms/step - accuracy: 0.7373 - loss: 0.5354
Epoch 91/100
804/804  2s 1ms/step - accuracy: 0.7468 - loss: 0.5273
Epoch 92/100
804/804  1s 1ms/step - accuracy: 0.7448 - loss: 0.5258
Epoch 93/100
804/804  1s 1ms/step - accuracy: 0.7437 - loss: 0.5280
Epoch 94/100
804/804  1s 1ms/step - accuracy: 0.7445 - loss: 0.5278
Epoch 95/100
804/804  1s 1ms/step - accuracy: 0.7400 - loss: 0.5336
Epoch 96/100
804/804  1s 1ms/step - accuracy: 0.7437 - loss: 0.5280
Epoch 97/100
804/804  1s 1ms/step - accuracy: 0.7413 - loss: 0.5325
Epoch 98/100
804/804  1s 1ms/step - accuracy: 0.7413 - loss: 0.5304
Epoch 99/100
804/804  2s 2ms/step - accuracy: 0.7461 - loss: 0.5277
Epoch 100/100
804/804  2s 2ms/step - accuracy: 0.7423 - loss: 0.5279

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - 1ms/step - accuracy: 0.7300 - loss: 0.5576
Loss: 0.5575827956199646, Accuracy: 0.7300291657447815

In [ ]:
# Export our model to HDF5 file
# Load Dependencies
import os
from google.colab import files

# Create a directory
os.makedirs('/nn_models', exist_ok=True)

# Save the model as an h5 file
nn.save('/nn_models/AlphabetSoupCharity.h5')

# Download the model file
files.download('/nn_models/AlphabetSoupCharity.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.