<a href="https://colab.research.google.com/github/maparisio/deep-learning-challenge/blob/main/AlphabetSoupCharity_Optimization_8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Preprocessing

In [ ]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [ ]:
# Make a copy of the DF before droping any columns
application_df_copy = application_df.copy()
application_df_copy.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [ ]:
# Drop the non-beneficial ID column, 'EIN'
application_df_copy = application_df_copy.drop(columns = ['EIN'])
application_df_copy.head()

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [ ]:
# Check headers
application_df_copy.head()

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [ ]:
# Determine the number of unique values in each column.
unique_values = application_df_copy.nunique()
print(unique_values)

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [ ]:
# Look at NAME value counts for binning
name_counts = application_df_copy['NAME'].value_counts()

#  How many name counts are greater than 5?
name_counts[name_counts>5]

NAME
PARENT BOOSTER USA INC                             1260
TOPS CLUB INC                                       765
UNITED STATES BOWLING CONGRESS INC                  700
WASHINGTON STATE UNIVERSITY                         492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC     408
                                                   ...
OLD OAK CLIFF CONSERVATION LEAGUE INC                 6
AMERICAN NEPHROLOGY NURSES ASSOCIATION                6
HUMBLE ISD EDUCATIONAL SUPPORT GROUPS INC             6
PROFESSIONAL LOADMASTER ASSOCIATION                   6
CBMC INC                                              6
Name: count, Length: 354, dtype: int64

In [ ]:
# Determine which values to replace if counts are less than or equal to 5.
names_to_replace = list(name_counts[name_counts <= 5].index)

# Replace in dataframe
for app in names_to_replace:
    application_df_copy['NAME'] = application_df_copy['NAME'].replace(app,"Other")

# Check to make sure binning was successul
application_df_copy['NAME'].value_counts()

NAME
Other                                           20043
PARENT BOOSTER USA INC                           1260
TOPS CLUB INC                                     765
UNITED STATES BOWLING CONGRESS INC                700
WASHINGTON STATE UNIVERSITY                       492
                                                ...
HABITAT FOR HUMANITY INTERNATIONAL                  6
DAMAGE PREVENTION COUNCIL OF TEXAS                  6
FLEET RESERVE ASSOCIATION                           6
HUGH OBRIAN YOUTH LEADERSHIP                        6
INTERNATIONAL CONGRESS OF CHURCHES MINISTERS        6
Name: count, Length: 355, dtype: int64

In [ ]:
# Determine which values to replace if counts are less than or equal to 5.
names_to_replace = list(name_counts[name_counts <= 5].index)

# Replace in dataframe
for app in names_to_replace:
    application_df_copy['NAME'] = application_df_copy['NAME'].replace(app,"Other")

# Check to make sure binning was successul
application_df_copy['NAME'].value_counts()

NAME
Other                                           20043
PARENT BOOSTER USA INC                           1260
TOPS CLUB INC                                     765
UNITED STATES BOWLING CONGRESS INC                700
WASHINGTON STATE UNIVERSITY                       492
                                                ...
HABITAT FOR HUMANITY INTERNATIONAL                  6
DAMAGE PREVENTION COUNCIL OF TEXAS                  6
FLEET RESERVE ASSOCIATION                           6
HUGH OBRIAN YOUTH LEADERSHIP                        6
INTERNATIONAL CONGRESS OF CHURCHES MINISTERS        6
Name: count, Length: 355, dtype: int64

In [ ]:
# Redetermine the number of unique values in each column
unique_values = application_df_copy.nunique()
unique_values

NAME                       355
APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [ ]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
app_type_counts = application_df_copy["APPLICATION_TYPE"].value_counts()
app_type_counts

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [ ]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
app_cutoff_value = 500
application_types_to_replace = app_type_counts[app_type_counts < app_cutoff_value].index.tolist()

# Replace in dataframe
for app in application_types_to_replace:
    application_df_copy['APPLICATION_TYPE'] = application_df_copy['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df_copy['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [ ]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
class_counts = application_df_copy["CLASSIFICATION"].value_counts()
class_counts

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [ ]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_counts_gt1 = class_counts[class_counts > 1]
print(class_counts_gt1)

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [ ]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
class_cutoff_value = 1000
classifications_to_replace = class_counts[class_counts < class_cutoff_value].index.tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    application_df_copy['CLASSIFICATION'] = application_df_copy['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df_copy['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [ ]:
# Check headers
application_df_copy.head()

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,Other,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,Other,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,Other,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,Other,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [ ]:
# Look at 'INCOME_AMT' value counts to identify and replace with "Other"
income_amt_count = application_df_copy['INCOME_AMT'].value_counts()
income_amt_count

INCOME_AMT
0                24388
25000-99999       3747
100000-499999     3374
1M-5M              955
1-9999             728
10000-24999        543
10M-50M            240
5M-10M             185
50M+               139
Name: count, dtype: int64

In [ ]:
# Look at 'ASK_AMT' value counts to identify and replace with "Other"
ask_amt_count = application_df_copy['ASK_AMT'].value_counts()
ask_amt_count

ASK_AMT
5000        25398
10478           3
15583           3
63981           3
6725            3
            ...
5371754         1
30060           1
43091152        1
18683           1
36500179        1
Name: count, Length: 8747, dtype: int64

In [ ]:
# You may find it helpful to look at ASK_AMT value counts >3
ask_amt_count_gt3 = ask_amt_count[ask_amt_count>3]
ask_amt_count_gt3

ASK_AMT
5000    25398
Name: count, dtype: int64

In [ ]:
# Choose a cutoff value and create a list of ASK_AMT values to be replaced
# use the variable name `ask_to_replace`
ask_cutoff_value = 4
ask_to_replace = ask_amt_count[ask_amt_count < ask_cutoff_value].index.tolist()

# Replace in dataframe
for ask in ask_to_replace:
    application_df_copy['ASK_AMT'] = application_df_copy['ASK_AMT'].replace(ask,"Other")
# Check to make sure replacement was successful
application_df_copy['ASK_AMT'].value_counts()

ASK_AMT
5000     25398
Other     8901
Name: count, dtype: int64

In [ ]:
# Make a copy of the DF before any changes
application_df_copy = application_df_copy.copy()
application_df_copy.head()

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,Other,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,Other,1
2,Other,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,Other,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,Other,1
4,Other,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,Other,1

In [ ]:
# Convert categorical data to numeric with `pd.get_dummies`
app_dummies_df = pd.get_dummies(application_df_copy, dtype=int)
app_dummies_df.head()

,STATUS,IS_SUCCESSFUL,NAME_AACE INTERNATIONAL,NAME_ACE MENTOR PROGRAM OF AMERICA INC,NAME_AFRICAN-AMERICAN POSTAL LEAGUE UNITED FOR SUCCESS A-PLUS,NAME_AIR FORCE ASSOCIATION,NAME_ALABAMA FEDERATION OF WOMENS CLUBS,NAME_ALABAMA TREASURE FOREST ASSOCIATION,NAME_ALBANY STATE UNIVERSITY NATIONAL ALUMNI ASSOCIATION,NAME_ALPHA PHI OMEGA,...,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,ASK_AMT_5000,ASK_AMT_Other
0,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
1,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
3,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
4,1,1,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,1,0,0,1

In [ ]:
# Split our preprocessed data into our features and target arrays
X = app_dummies_df.drop(["IS_SUCCESSFUL"], axis='columns').values
y = app_dummies_df["IS_SUCCESSFUL"].values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [ ]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [ ]:

# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 100
hidden_nodes_layer2 = 30
hidden_nodes_layer3 = 10

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

/usr/local/lib/python3.10/dist-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential"

 Layer (type)                          Output Shape                         Param #

 dense (Dense)                         (None, 100)                           40,000

 dense_1 (Dense)                       (None, 30)                             3,030

 dense_2 (Dense)                       (None, 10)                               310

 dense_3 (Dense)                       (None, 1)                                 11

 Total params: 43,351 (169.34 KB)

 Trainable params: 43,351 (169.34 KB)

 Non-trainable params: 0 (0.00 B)

In [ ]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [ ]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804  3s 2ms/step - accuracy: 0.7495 - loss: 0.5212
Epoch 2/100
804/804  2s 2ms/step - accuracy: 0.7945 - loss: 0.4281
Epoch 3/100
804/804  2s 2ms/step - accuracy: 0.7970 - loss: 0.4272
Epoch 4/100
804/804  2s 2ms/step - accuracy: 0.7977 - loss: 0.4215
Epoch 5/100
804/804  2s 3ms/step - accuracy: 0.7986 - loss: 0.4210
Epoch 6/100
804/804  2s 3ms/step - accuracy: 0.8003 - loss: 0.4182
Epoch 7/100
804/804  2s 2ms/step - accuracy: 0.7999 - loss: 0.4152
Epoch 8/100
804/804  2s 2ms/step - accuracy: 0.8013 - loss: 0.4180
Epoch 9/100
804/804  2s 2ms/step - accuracy: 0.8005 - loss: 0.4161
Epoch 10/100
804/804  3s 2ms/step - accuracy: 0.8040 - loss: 0.4129
Epoch 11/100
804/804  2s 2ms/step - accuracy: 0.7962 - loss: 0.4153
Epoch 12/100
804/804  2s 3ms/step - accuracy: 0.8017 - loss: 0.4137
Epoch 13/100
804/804  2s 2ms/step - accuracy: 0.7969 - loss: 0.4197
Epoch 14/100
804/804  2s 2ms/step - accuracy: 0.8016 - loss: 0.4131
Epoch 15/100
804/804  2s 2ms/step - accuracy: 0.8002 - loss: 0.4186
Epoch 16/100
804/804  3s 2ms/step - accuracy: 0.8065 - loss: 0.4093
Epoch 17/100
804/804  2s 2ms/step - accuracy: 0.8062 - loss: 0.4090
Epoch 18/100
804/804  2s 2ms/step - accuracy: 0.8078 - loss: 0.4078
Epoch 19/100
804/804  2s 3ms/step - accuracy: 0.8046 - loss: 0.4123
Epoch 20/100
804/804  2s 2ms/step - accuracy: 0.8121 - loss: 0.4045
Epoch 21/100
804/804  2s 2ms/step - accuracy: 0.7978 - loss: 0.4167
Epoch 22/100
804/804  2s 2ms/step - accuracy: 0.8060 - loss: 0.4054
Epoch 23/100
804/804  3s 2ms/step - accuracy: 0.8014 - loss: 0.4114
Epoch 24/100
804/804  3s 2ms/step - accuracy: 0.8025 - loss: 0.4113
Epoch 25/100
804/804  2s 3ms/step - accuracy: 0.8088 - loss: 0.4026
Epoch 26/100
804/804  2s 2ms/step - accuracy: 0.8052 - loss: 0.4068
Epoch 27/100
804/804  2s 2ms/step - accuracy: 0.8046 - loss: 0.4073
Epoch 28/100
804/804  2s 2ms/step - accuracy: 0.8049 - loss: 0.4088
Epoch 29/100
804/804  2s 2ms/step - accuracy: 0.8057 - loss: 0.4093
Epoch 30/100
804/804  2s 2ms/step - accuracy: 0.8045 - loss: 0.4075
Epoch 31/100
804/804  3s 3ms/step - accuracy: 0.7999 - loss: 0.4142
Epoch 32/100
804/804  2s 2ms/step - accuracy: 0.8024 - loss: 0.4112
Epoch 33/100
804/804  2s 2ms/step - accuracy: 0.8063 - loss: 0.4065
Epoch 34/100
804/804  2s 2ms/step - accuracy: 0.8066 - loss: 0.4090
Epoch 35/100
804/804  2s 2ms/step - accuracy: 0.8051 - loss: 0.4089
Epoch 36/100
804/804  2s 2ms/step - accuracy: 0.8082 - loss: 0.4028
Epoch 37/100
804/804  3s 2ms/step - accuracy: 0.8063 - loss: 0.4032
Epoch 38/100
804/804  2s 3ms/step - accuracy: 0.8061 - loss: 0.4024
Epoch 39/100
804/804  2s 2ms/step - accuracy: 0.8057 - loss: 0.4083
Epoch 40/100
804/804  2s 2ms/step - accuracy: 0.8065 - loss: 0.4062
Epoch 41/100
804/804  2s 2ms/step - accuracy: 0.8065 - loss: 0.4005
Epoch 42/100
804/804  3s 2ms/step - accuracy: 0.8065 - loss: 0.4063
Epoch 43/100
804/804  2s 2ms/step - accuracy: 0.8093 - loss: 0.3997
Epoch 44/100
804/804  2s 2ms/step - accuracy: 0.8051 - loss: 0.4050
Epoch 45/100
804/804  2s 3ms/step - accuracy: 0.8070 - loss: 0.4040
Epoch 46/100
804/804  2s 3ms/step - accuracy: 0.8037 - loss: 0.4088
Epoch 47/100
804/804  2s 2ms/step - accuracy: 0.8108 - loss: 0.3988
Epoch 48/100
804/804  3s 2ms/step - accuracy: 0.8121 - loss: 0.3987
Epoch 49/100
804/804  2s 2ms/step - accuracy: 0.8106 - loss: 0.3975
Epoch 50/100
804/804  2s 2ms/step - accuracy: 0.8071 - loss: 0.4018
Epoch 51/100
804/804  3s 3ms/step - accuracy: 0.8060 - loss: 0.4027
Epoch 52/100
804/804  2s 2ms/step - accuracy: 0.8024 - loss: 0.4088
Epoch 53/100
804/804  2s 2ms/step - accuracy: 0.8064 - loss: 0.4012
Epoch 54/100
804/804  2s 3ms/step - accuracy: 0.8094 - loss: 0.3997
Epoch 55/100
804/804  2s 3ms/step - accuracy: 0.8056 - loss: 0.3996
Epoch 56/100
804/804  2s 2ms/step - accuracy: 0.8098 - loss: 0.4033
Epoch 57/100
804/804  3s 3ms/step - accuracy: 0.8083 - loss: 0.4020
Epoch 58/100
804/804  2s 2ms/step - accuracy: 0.8089 - loss: 0.4000
Epoch 59/100
804/804  3s 2ms/step - accuracy: 0.8084 - loss: 0.4005
Epoch 60/100
804/804  3s 2ms/step - accuracy: 0.8088 - loss: 0.4001
Epoch 61/100
804/804  3s 2ms/step - accuracy: 0.8089 - loss: 0.3986
Epoch 62/100
804/804  2s 3ms/step - accuracy: 0.8074 - loss: 0.4030
Epoch 63/100
804/804  3s 3ms/step - accuracy: 0.8099 - loss: 0.3953
Epoch 64/100
804/804  2s 2ms/step - accuracy: 0.8055 - loss: 0.4088
Epoch 65/100
804/804  3s 2ms/step - accuracy: 0.8057 - loss: 0.4029
Epoch 66/100
804/804  3s 2ms/step - accuracy: 0.8096 - loss: 0.3999
Epoch 67/100
804/804  2s 2ms/step - accuracy: 0.8071 - loss: 0.3992
Epoch 68/100
804/804  2s 2ms/step - accuracy: 0.8075 - loss: 0.4034
Epoch 69/100
804/804  3s 3ms/step - accuracy: 0.8061 - loss: 0.3993
Epoch 70/100
804/804  2s 2ms/step - accuracy: 0.8099 - loss: 0.3989
Epoch 71/100
804/804  2s 2ms/step - accuracy: 0.8099 - loss: 0.3978
Epoch 72/100
804/804  2s 2ms/step - accuracy: 0.8119 - loss: 0.3971
Epoch 73/100
804/804  3s 2ms/step - accuracy: 0.8078 - loss: 0.3998
Epoch 74/100
804/804  3s 3ms/step - accuracy: 0.8078 - loss: 0.3966
Epoch 75/100
804/804  3s 3ms/step - accuracy: 0.8092 - loss: 0.3969
Epoch 76/100
804/804  4s 2ms/step - accuracy: 0.8109 - loss: 0.3971
Epoch 77/100
804/804  2s 2ms/step - accuracy: 0.8075 - loss: 0.4021
Epoch 78/100
804/804  2s 2ms/step - accuracy: 0.8058 - loss: 0.4026
Epoch 79/100
804/804  3s 2ms/step - accuracy: 0.8075 - loss: 0.3993
Epoch 80/100
804/804  2s 3ms/step - accuracy: 0.8102 - loss: 0.3988
Epoch 81/100
804/804  2s 2ms/step - accuracy: 0.8105 - loss: 0.4000
Epoch 82/100
804/804  2s 2ms/step - accuracy: 0.8064 - loss: 0.4002
Epoch 83/100
804/804  2s 2ms/step - accuracy: 0.8063 - loss: 0.3982
Epoch 84/100
804/804  2s 2ms/step - accuracy: 0.8121 - loss: 0.3924
Epoch 85/100
804/804  3s 2ms/step - accuracy: 0.8098 - loss: 0.4005
Epoch 86/100
804/804  2s 3ms/step - accuracy: 0.8071 - loss: 0.3981
Epoch 87/100
804/804  2s 3ms/step - accuracy: 0.8082 - loss: 0.3982
Epoch 88/100
804/804  2s 2ms/step - accuracy: 0.8080 - loss: 0.3992
Epoch 89/100
804/804  2s 2ms/step - accuracy: 0.8077 - loss: 0.4000
Epoch 90/100
804/804  2s 2ms/step - accuracy: 0.8065 - loss: 0.3967
Epoch 91/100
804/804  2s 2ms/step - accuracy: 0.8067 - loss: 0.4005
Epoch 92/100
804/804  2s 2ms/step - accuracy: 0.8104 - loss: 0.3987
Epoch 93/100
804/804  2s 3ms/step - accuracy: 0.8080 - loss: 0.3968
Epoch 94/100
804/804  3s 3ms/step - accuracy: 0.8078 - loss: 0.4009
Epoch 95/100
804/804  2s 2ms/step - accuracy: 0.8098 - loss: 0.3966
Epoch 96/100
804/804  2s 2ms/step - accuracy: 0.8110 - loss: 0.3973
Epoch 97/100
804/804  2s 2ms/step - accuracy: 0.8116 - loss: 0.3957
Epoch 98/100
804/804  3s 2ms/step - accuracy: 0.8108 - loss: 0.3939
Epoch 99/100
804/804  2s 2ms/step - accuracy: 0.8092 - loss: 0.3971
Epoch 100/100
804/804  3s 3ms/step - accuracy: 0.8088 - loss: 0.3992

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - 2ms/step - accuracy: 0.7936 - loss: 0.4738
Loss: 0.47377994656562805, Accuracy: 0.793586015701294

In [ ]:
# Export our model to HDF5 file
# Load Dependencies
import os
from google.colab import files

# Create a directory
os.makedirs('/nn_models', exist_ok=True)

# Save the model as an h5 file
nn.save('/nn_models/AlphabetSoupCharityOptimization-8.h5')

# Download the model file
files.download('/nn_models/AlphabetSoupCharityOptimization-8.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.